@charset "UTF-8";

* {
  box-sizing: border-box;
}

.containerP {
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
}

.cardP {
  display: inline-block;
  position: relative;
  background: black; /* Adjusted background color */
  border: #03e9f4 1px solid;
  color: #ffffff; /* Adjusted text color */
  width: 300px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.cardP h2 {
  margin: 0;
  width: 100%;
  font-size: 30px;
  background: linear-gradient(0, 0, 0, 0.5);
  padding: 20px 0;
  color: #edddd4;
  box-shadow: inset 0px 5px 4px -4px #ecddd461;
}

.cardP h3 {
  margin: 20px 0;
  font-size: 60px;
  text-shadow: 3px 2px 2px #283d3b38;
}

.cardP h3 span {
  font-size: 20px;
}

.cardP p {
  font-style: italic;
  margin: 0 0 30px 0;
}

.cardP ul {
  text-align: left;
  padding: 0 50px;
  margin: 0;
}

.cardP ul li {
  display: block;
}

.cardP ul li:not(:last-child) {
  margin-bottom: 10px;
}

.cardP ul li.aval::before,
.cardP ul li.unaval::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  width: 40px;
  display: inline-block;
}

.cardP ul li.aval::before {
  color: #197278; /* Adjusted color for available */
}

.cardP ul li.unaval::before {
  color: #c44536; /* Adjusted color for unavailable */
}

.cardP .select {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  font-weight: 700;
  background: linear-gradient(#141e30, #243b55);
  color: #03e9f4;
  font-size: 15px;
  font-family: inherit;
  box-shadow: 0 8px 18px 4px #283d3b4d;
}

.cardP .select::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 15px;
}

.cardP-1,
.cardP-3 {
  position: relative;
  transform: scale(0.9);
}

.cardP-1 {
  left: 40px;
  margin-left: -60px;
  z-index: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #03e9f4;
}

.cardP-2 h2 {
  background: rgba(0, 0, 0, 0.8);
  color: #03e9f4;
}

.cardP-2 {
  z-index: 1;
}

.cardP-3 {
  left: -40px;
  margin-right: -60px;
  z-index: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #03e9f4;
}
